

body{
	margin:0;
	padding:0;
	text-align: center;
	background-color: #f2f1e1;
}

body, html, main {
	/* important */
	height: 100%;
}

.noise-filter{
	width:100%;
	height:100%;
	background-image:url('http://www.transparenttextures.com/patterns/clean-gray-paper.png');
	background-repeat: repeat;
	position:absolute;
	margin:0;
	opacity:0.2;
	top:0px;


}

h5{
	font-size: 3em;
	font-family: Lato;
	letter-spacing: 11px;
	position: absolute;
	margin:-3em 0em;
	opacity:0;
	color:#403926;
	width:33%;
	text-align: center;
	text-shadow:#f2f1e1 0 0 13px;
}

.fixed-blur{
	color:transparent;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
	font-size:0.8em;
	width:20%;
	text-align: left;
	float:left;
	margin: 1em;
}

.blurry{
	   color: transparent;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    width:50%;
    margin:auto;
    transition: all .2s ease-in-out;
}



.link{
	display:block;
	width:33%;
	float:left;
	padding: 0 0 2em 0;
}

.link:hover {
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
	transition: all .2s ease-in-out;
}

.link img{
	height:15em;
	width:auto;
	margin:3em 0 1em 0;
}

.fixed {
	min-height: 80%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 0 -80px;
	background-image:url('attempt2.jpg');
}



.scrolling{
	min-height: 50%;
}

.intro{
	font-family: Lato;
	text-align: left;
	color:#403926;
}

h2,h4{
	margin:0 5px 0 20px;
	text-shadow: #403926 0px 0px 3px;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-size: 4em;
}

h2{
	font-size: 6em;
}

.filler{
	padding:0.6em 0;
	width:34%;
	float:right;
	text-shadow: #403926 0px 0px 1px;
	color:transparent;
}

.block{
	display: block;
	float:left;
}

h4{
	width:60%;
}

#roxanne{
	color:#CE3B23;
	text-shadow: #CE3B23 0px 0px 2px;
}

.transition{
	 transition: all .2s ease-in-out;
	 transform: scale(0.7);
}

.blur {
-webkit-filter: blur(20px); -moz-filter: blur(20px);
-o-filter: blur(20px); -ms-filter: blur(20px);
filter: url(#blur); filter: blur(20px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
-webkit-transition: 1s -webkit-filter linear;
-o-transition: 1s -o-filter linear;

}


.unblur  { -webkit-filter: blur(0px); -moz-filter: blur(0px); -o-filter: blur(0px); -ms-filter: blur(0px);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); filter: blur(0px); }

@media screen and (min-width: 415px) {
	.fixed{
		background-position: center center;
	}

	}