html {
  background: url('4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-family: "Lobster";
  text-align: center;
  position:absolute;
  font-size: 4em;
  margin:auto;
  top:40%;
  width:100%;
}

@media screen and (min-width: 415px) {
h1{
  font-size: 3em;
}
  }

